version: "3.3"

services:

  cnsa-catalog-service:
    depends_on:
      - cnsa-postgres
    image: "cnsa-catalog-service"
    container_name: "cnsa-catalog-service"
    ports:
      - 9001:9001
      - 8001:8001
    environment:
      - BPL_JVM_THREAD_COUNT=50
      - BPL_DEBUG_ENABLED=true
      - BPL_DEBUG_PORT=8001
      - SPRING_DATASOURCE_URL=jdbc:postgresql://cnsa-postgres:5432/cnsa_catalog
      - CNSA_TESTDATA_ENABLED=true

  cnsa-postgres:
    image: "postgres:14.4"
    container_name: "cnsa-postgres"
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=cnsa_catalog

